@import 'var';
@import 'mixin';

*{
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Microsoft JhengHei' ;
    background-color: #eee;
}
a{
    color: unset;
    text-decoration: none;
    &:hover{
        color: unset;
        text-decoration: none;
    }
}
ul{
    list-style: none;
    padding-inline-start: unset;
    li{
        line-height: 2rem;
    }
}
p{
    margin-bottom: 0;
}
.container{
    padding-left: 0;
    padding-right: 0;
}
.position-r{
    position: relative;
}

.tab {
    width: 100%;
    margin: auto;
    // box-shadow: 3px 3px 8px $lighttext;
    .tab_btns {
        width: 100%;
        @include lg{
            width: 15%;
        }
        .photo{
            width: 100%;
            height: 15vh;
            background-color: #F0F4FA;
            background-image: url('../img/LIN.jpg');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: top 20% center;
            @include lg{
                background-size: cover;
                background-position: top 20% center;
            }
        }
        .btn {
            width: 33.3333%;
            height: 15vh;
            background-color: #fff;
            border: 1px solid #eee;
            color: #000;
            border-radius: 0;

            font-family: Arial, Helvetica, sans-serif;
            font-weight: 700;
            font-size: 18px;
            text-align: center;
            line-height: 15vh;

            position: relative;
            @include lg{
                width: 100%;
            }
            .btn-ch{
                display: none;
            }
            .btn-en{
                display: none;
                @include sm{
                    display: inline;
                }
            }
            &:hover>.btn-ch,&.active>.btn-ch{display: inline;}
            &:hover>.btn-en,&.active>.btn-en{display: none;}

            &.active {
                background-color:$themecolor;
            }
            &.active:after {
                content: '';
                position: absolute;
                top: 100%;
                left: 50%;
                width: 0;
                height: 0;
                border: 12px solid transparent;
                border-top-color:$themecolor;
                border-bottom: 0;
                transform: translateX(-50%);
                // margin-bottom: -12px;
            }
            @include lg{
                &.active:after {
                    content: '';
                    left: 100%;
                    top: 50%;
                    border: 12px solid transparent;
                    border-left-color:$themecolor;
                    border-right: 0;
                    transform: translateY(-50%);
                    // margin-right: -12px;
                    border-top-color: transparent;
                }
            }
            .btnIcon{
                height: 35%;
            }
            .btnText{
                height: 65%;
            }
            
            .fas{
                font-size: 1.5rem;
            }
            
        }
        .hvr-bounce-to-right:before{
            background:$themecolor;
        }
    }
    .tab_contents {
        width: 100%;
        border: 1px solid #eee;
        background-color: #fff;
        @include lg{
            width: 85%;
        }

        .content {
            color: #000;    
            box-sizing: border-box;
            display: none;
            &.active {
                display: block;
            }
            &::after{
                content: "©2021，此為學習作品，僅供學習作品展示";
                display: block;
                width: 100%;
                background-color: $themecolor;
                padding: 6px 20px;
                font-size: 12px;
                text-align: center;
            }
            
        }
        .title{
            font-size: 3vw;
            // font-family: 'Lobster';
            // font-family: 'Sigmar One';
            font-family: 'Damion';
        }
        .subtitle{
            margin-top: 3rem;
            .box{
                width: 25px;
                height: 12px;
                background-color:$themecolor;
                margin: auto;
            }
            p{
                font-weight: bold;
                font-size: 20px;
            }
        }
        .timeline-section {
            position: relative;
            &:after {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                left: 50%;
                width: 1px;
                transform: translateX(-50%);
                background-color: #ccc;
            }
            .timeline-pointer {
                position: relative;
                &::before{
                    content: "";
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 50%;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    border: 1px solid #ccc;
                    transform: translateX(-50%);
                    background-color: #fff;
                    z-index: 1;
                }
                &:last-child::after {
                    content: "";
                    position: absolute;
                    // top: 0;
                    bottom: 0;
                    left: 50%;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    border: 1px solid #ccc;
                    transform: translateX(-50%);
                    background-color: #fff;
                    z-index: 1;
                } 
            }
        } 
        #resume{
            .item{
                font-weight: bold;
            }
            .itemContent{
                color: $lighttext;
            }
        }
        #information{
            @media (max-width: 576px) { 
                .timeline-section:after, 
                .timeline-pointer::before,
                .timeline-pointer:last-child::after {
                  display: none;
                }
              }
        }
        #experience{
            .timeline-section2 {
                margin-top: 50px;
                position: relative;
                &:after {
                    content: "";
                    position: absolute;
                    top: -30px;
                    bottom: 0;
                    left: 50%;
                    width: 1px;
                    transform: translateX(-50%);
                    background-color: #ccc;
                }
                .timeline-pointer {
                    position: relative;
                    &::before{
                        content: "";
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 50%;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        border: 1px solid #ccc;
                        transform: translateX(-50%);
                        background-color: #fff;
                        z-index: 1;
                    }
                }
                h4{
                    font-size: 1.1rem;
                    font-weight: bold;
                    color: darken($themecolor,30%);
                    @include sm{
                        font-size: 1.35rem;
                    }
                }
            } 
            .period{
                color: $lighttext;
            }
        }
        #skill{
            .row p , ul{
                font-size: 0.8rem;
                @include lg{
                    font-size: 1rem;
                }
            }
            .detail{
                font-size: 12px;
                color: darken($themecolor,30%);
                list-style: square;
                padding-left: 20px;
                display: none;
            }
            
            small{
                color: darken($themecolor,30%);
            }
            .badges{
                font-size: 1.25rem;
            }
            .certificate{
                .certificateArea{
                    padding-right: 1rem;
                    @include md{
                        padding-right: 4rem;   
                    } 
                }
            }
            .acclaim_badges{
                width: 100%;
                margin: auto;
                & > * {
                    margin: 5px 6px 0 6px;
                }
            } 
        }
        .portfolio-box{
            display: block;
            height: 30vw;
            margin-bottom: 12px;    
            position: relative;
            overflow: hidden;
            border: 1px solid rgba(#5e5e5c,0.2);
            @include lg{
                height: 15vw;
            }
        
            &:hover>p{
                display:block;
            }
            &::after{
                content: "";
                background-color: rgba(0, 0, 0, 0);
                width: 100%;

                position:absolute;
                top:0;
                bottom:0;
                z-index: 2;
                transition: 0.3s;
                
            }
            &:hover::after{
                background-color: rgba(0, 0, 0, 0.8); 
            }
            .portfolio-text{
                position: absolute;
                left: 50%;
                top: 50%;
                z-index: 3;
                transform: translate(-50% , -50%);
                color:#fff;

                display:none;
            }
        }
        .p-box1{
            background-image: url('../img/portfolio/layout/doorsss.png');
        }
        .p-box2{
            background-image: url('../img/portfolio/layout/truesoul.jpg');
        }
        .p-box3{
            background-image: url('../img/portfolio/layout/backstage.png');
        }
        .p-box4{
            background-image: url('../img/portfolio/layout/perfume.png');
        }
        .p-box5{
            background-image: url('../img/portfolio/layout/eCom.png');
        }
        .p-box6{
            background-image: url('../img/portfolio/layout/more.png');
        }
        .links{
            width: 50px;
            height: 126px;
            position: absolute;
            top: 5vh;
            right: 0;
            z-index: 10;

            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: space-between;

            .link{
                width: 40px;
                height: 40px;
                background-color: $themecolor;
                border-radius: 5px 0 0 5px;
            
                font-size: 24px;
                text-align: center;
                line-height: 40px;
                color: #fff;
            
                transition: 0.5s;
            
                &:hover{
                    width: 45px;
                    box-shadow: -5px 0px 15px 1px rgba(95, 94, 94, 0.5);
                }
            }
            .link_fb:hover{
                background-color: rgb(66, 103, 178);
            }
            .link_yt:hover{
                background-color: #8E1615;
            }
            .link_mail:hover{
                background-color: #F9AC17;
            }
        }
    }
}

.cursor-pointer{
    cursor: pointer;
}

.backtoTop{
    display: none;
    width: 50px;
    height: 50px;
    background-color: $themecolor;

    border-radius: 50%;
    color: aliceblue;
    font-size: 20px;

    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 10;

    line-height: 50px;
    text-align: center;
    transition: 0.5s;

    &:hover{
        background-color: darken($themecolor,30%);

        width: 55px;
        height: 55px;
        line-height: 55px;
    }
}
.displayNone{
    display: none;
}
.bg-center{
    background-size: cover;
    background-position: center center;
}
.bg-deepblue{
    background-color: #2C2F42;
}