@import 'var';
@import 'mixin';

*{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Microsoft JhengHei' ;
}
ul{
    list-style: none;
    padding-inline-start: unset;
    li{
        line-height: 2rem;
    }
}
.container{
    padding-left: 0;
    padding-right: 0;
}

.tab {
    width: 100%;
    margin: auto;
    box-shadow: 3px 3px 8px $lighttext;
    .tab_btns {
        width: 100%;
        @include lg{
            width: 15%;
        }
        .photo{
            width: 100%;
            height: 15vh;
            background-color: #F0F4FA;
            background-image: url('../img/LIN.jpg');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: top 20% center;
            @include lg{
                background-size: cover;
                background-position: top 20% center;
            }
        }
        .btn {
            width: 33.3333%;
            height: 15vh;
            background-color: #fff;
            border: 1px solid #eee;
            color: #000;
            border-radius: 0;

            font-family: Arial, Helvetica, sans-serif;
            font-weight: 700;
            font-size: 18px;
            text-align: center;
            line-height: 15vh;

            position: relative;
            @include lg{
                width: 100%;
            }
            .btn-ch{
                display: none;
            }
            .btn-en{
                display: none;
                @include sm{
                    display: inline;
                }
            }
            &:hover>.btn-ch,&.active>.btn-ch{display: inline;}
            &:hover>.btn-en,&.active>.btn-en{display: none;}

            &.active {
                background-color:$themecolor;
            }
            &.active:after {
                content: '';
                position: absolute;
                top: 100%;
                left: 50%;
                width: 0;
                height: 0;
                border: 12px solid transparent;
                border-top-color:$themecolor;
                border-bottom: 0;
                transform: translateX(-50%);
                // margin-bottom: -12px;
            }
            @include lg{
                &.active:after {
                    content: '';
                    left: 100%;
                    top: 50%;
                    border: 12px solid transparent;
                    border-left-color:$themecolor;
                    border-right: 0;
                    transform: translateY(-50%);
                    // margin-right: -12px;
                    border-top-color: transparent;
                }
            }
            .btnIcon{
                height: 35%;
            }
            .btnText{
                height: 65%;
            }
            
            .fas{
                font-size: 1.5rem;
            }
            
        }
        .hvr-bounce-to-right:before{
            background:$themecolor;
        }
    }
    .tab_contents {
        width: 100%;
        border: 1px solid #eee;
        @include lg{
            width: 85%;
        }

        .content {
            color: #000;    
            padding: 20px;
            box-sizing: border-box;
            display: none;
            &.active {
                display: block;
            }
        }
        .title{
            font-size: 3vw;
            font-family: 'Raleway', sans-serif;
        }
        .subtitle{
            margin-top: 3rem;
            .box{
                width: 25px;
                height: 12px;
                background-color:$themecolor;
                margin: auto;
            }
            p{
                font-weight: bold;
                font-size: 20px;
            }
        }
        .timeline-section {
            position: relative;
            &:after {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                left: 50%;
                width: 1px;
                transform: translateX(-50%);
                background-color: #ccc;
            }
            .timeline-pointer {
                position: relative;
                &::before{
                    content: "";
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 50%;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    border: 1px solid #ccc;
                    transform: translateX(-50%);
                    background-color: #fff;
                    z-index: 1;
                }
                &:last-child::after {
                    content: "";
                    position: absolute;
                    // top: 0;
                    bottom: 0;
                    left: 50%;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    border: 1px solid #ccc;
                    transform: translateX(-50%);
                    background-color: #fff;
                    z-index: 1;
                } 
            }
        } 
        #resume{
            .item{
                font-weight: bold;
            }
            .itemContent{
                color: $lighttext;
            }
        }
        #information{
            @media (max-width: 576px) { 
                .timeline-section:after, 
                .timeline-pointer::before,
                .timeline-pointer:last-child::after {
                  display: none;
                }
              }
        }
        #experience{
            .timeline-section2 {
                margin-top: 50px;
                position: relative;
                &:after {
                    content: "";
                    position: absolute;
                    top: -30px;
                    bottom: 0;
                    left: 50%;
                    width: 1px;
                    transform: translateX(-50%);
                    background-color: #ccc;
                }
                .timeline-pointer {
                    position: relative;
                    &::before{
                        content: "";
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 50%;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        border: 1px solid #ccc;
                        transform: translateX(-50%);
                        background-color: #fff;
                        z-index: 1;
                    }
                }
                h4{
                    font-size: 1.1rem;
                    font-weight: bold;
                    color: darken($themecolor,30%);
                    @include sm{
                        font-size: 1.35rem;
                    }
                }
            } 
            .period{
                color: $lighttext;
            }
        }
        #skill{
            .row p , ul{
                font-size: 0.8rem;
                @include lg{
                    font-size: 1rem;
                }
            }
            
            small{
                color: darken($themecolor,30%);
            }
            .badges{
                font-size: 1.25rem;
            }
            .certificate{
                .certificateArea{
                    padding-right: 1rem;
                    @include md{
                        padding-right: 4rem;   
                    } 
                }
            }
            .acclaim_badges{
                width: 100%;
                margin: auto;
                & > * {
                    margin: 5px 6px 0 6px;
                }
            } 
        }
        
    }
}