* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Microsoft JhengHei';
  background-color: #eee;
}

a {
  color: unset;
  text-decoration: none;
}

ul {
  list-style: none;
  -webkit-padding-start: unset;
          padding-inline-start: unset;
}

ul li {
  line-height: 2rem;
}

.container {
  padding-left: 0;
  padding-right: 0;
}

.position-r {
  position: relative;
}

.tab {
  width: 100%;
  margin: auto;
}

.tab .tab_btns {
  width: 100%;
}

@media (min-width: 992px) {
  .tab .tab_btns {
    width: 15%;
  }
}

.tab .tab_btns .photo {
  width: 100%;
  height: 15vh;
  background-color: #F0F4FA;
  background-image: url("../img/LIN.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top 20% center;
}

@media (min-width: 992px) {
  .tab .tab_btns .photo {
    background-size: cover;
    background-position: top 20% center;
  }
}

.tab .tab_btns .btn {
  width: 33.3333%;
  height: 15vh;
  background-color: #fff;
  border: 1px solid #eee;
  color: #000;
  border-radius: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  line-height: 15vh;
  position: relative;
}

@media (min-width: 992px) {
  .tab .tab_btns .btn {
    width: 100%;
  }
}

.tab .tab_btns .btn .btn-ch {
  display: none;
}

.tab .tab_btns .btn .btn-en {
  display: none;
}

@media (min-width: 576px) {
  .tab .tab_btns .btn .btn-en {
    display: inline;
  }
}

.tab .tab_btns .btn:hover > .btn-ch, .tab .tab_btns .btn.active > .btn-ch {
  display: inline;
}

.tab .tab_btns .btn:hover > .btn-en, .tab .tab_btns .btn.active > .btn-en {
  display: none;
}

.tab .tab_btns .btn.active {
  background-color: #D8D584;
}

.tab .tab_btns .btn.active:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 0;
  border: 12px solid transparent;
  border-top-color: #D8D584;
  border-bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (min-width: 992px) {
  .tab .tab_btns .btn.active:after {
    content: '';
    left: 100%;
    top: 50%;
    border: 12px solid transparent;
    border-left-color: #D8D584;
    border-right: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    border-top-color: transparent;
  }
}

.tab .tab_btns .btn .btnIcon {
  height: 35%;
}

.tab .tab_btns .btn .btnText {
  height: 65%;
}

.tab .tab_btns .btn .fas {
  font-size: 1.5rem;
}

.tab .tab_btns .hvr-bounce-to-right:before {
  background: #D8D584;
}

.tab .tab_contents {
  width: 100%;
  border: 1px solid #eee;
  background-color: #fff;
}

@media (min-width: 992px) {
  .tab .tab_contents {
    width: 85%;
  }
}

.tab .tab_contents .content {
  color: #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: none;
}

.tab .tab_contents .content.active {
  display: block;
}

.tab .tab_contents .content::after {
  content: "";
  display: block;
  width: 100%;
  height: 20px;
  background-color: #D8D584;
}

.tab .tab_contents .content .top {
  padding: 20px;
}

.tab .tab_contents .title {
  font-size: 3vw;
  font-family: 'Damion';
}

.tab .tab_contents .subtitle {
  margin-top: 3rem;
}

.tab .tab_contents .subtitle .box {
  width: 25px;
  height: 12px;
  background-color: #D8D584;
  margin: auto;
}

.tab .tab_contents .subtitle p {
  font-weight: bold;
  font-size: 20px;
}

.tab .tab_contents .timeline-section {
  position: relative;
}

.tab .tab_contents .timeline-section:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 1px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #ccc;
}

.tab .tab_contents .timeline-section .timeline-pointer {
  position: relative;
}

.tab .tab_contents .timeline-section .timeline-pointer::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #ccc;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #fff;
  z-index: 1;
}

.tab .tab_contents .timeline-section .timeline-pointer:last-child::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #ccc;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #fff;
  z-index: 1;
}

.tab .tab_contents #resume .item {
  font-weight: bold;
}

.tab .tab_contents #resume .itemContent {
  color: #555555;
}

@media (max-width: 576px) {
  .tab .tab_contents #information .timeline-section:after,
  .tab .tab_contents #information .timeline-pointer::before,
  .tab .tab_contents #information .timeline-pointer:last-child::after {
    display: none;
  }
}

.tab .tab_contents #experience .timeline-section2 {
  margin-top: 50px;
  position: relative;
}

.tab .tab_contents #experience .timeline-section2:after {
  content: "";
  position: absolute;
  top: -30px;
  bottom: 0;
  left: 50%;
  width: 1px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #ccc;
}

.tab .tab_contents #experience .timeline-section2 .timeline-pointer {
  position: relative;
}

.tab .tab_contents #experience .timeline-section2 .timeline-pointer::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #ccc;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #fff;
  z-index: 1;
}

.tab .tab_contents #experience .timeline-section2 h4 {
  font-size: 1.1rem;
  font-weight: bold;
  color: #94902f;
}

@media (min-width: 576px) {
  .tab .tab_contents #experience .timeline-section2 h4 {
    font-size: 1.35rem;
  }
}

.tab .tab_contents #experience .period {
  color: #555555;
}

.tab .tab_contents #skill .row p, .tab .tab_contents #skill ul {
  font-size: 0.8rem;
}

@media (min-width: 992px) {
  .tab .tab_contents #skill .row p, .tab .tab_contents #skill ul {
    font-size: 1rem;
  }
}

.tab .tab_contents #skill small {
  color: #94902f;
}

.tab .tab_contents #skill .badges {
  font-size: 1.25rem;
}

.tab .tab_contents #skill .certificate .certificateArea {
  padding-right: 1rem;
}

@media (min-width: 768px) {
  .tab .tab_contents #skill .certificate .certificateArea {
    padding-right: 4rem;
  }
}

.tab .tab_contents #skill .acclaim_badges {
  width: 100%;
  margin: auto;
}

.tab .tab_contents #skill .acclaim_badges > * {
  margin: 5px 6px 0 6px;
}

.tab .tab_contents .portfolio-boxs {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 20px 30px;
}

@media (min-width: 992px) {
  .tab .tab_contents .portfolio-boxs {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.tab .tab_contents .portfolio-box {
  display: block;
  width: 90%;
  height: 30vw;
  background-size: cover;
  background-position: center center;
  margin-bottom: 15px;
  position: relative;
}

@media (min-width: 992px) {
  .tab .tab_contents .portfolio-box {
    width: 48%;
    height: 15vw;
  }
}

.tab .tab_contents .portfolio-box:hover > p {
  display: block;
}

.tab .tab_contents .portfolio-box .mask {
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  height: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.tab .tab_contents .portfolio-box .mask:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

.tab .tab_contents .portfolio-box .portfolio-text {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  display: none;
}

.tab .tab_contents .p-box1 {
  background-image: url("../img/portfolio/doorsss.png");
}

.tab .tab_contents .p-box2 {
  background-image: url("../img/portfolio/truesoul.jpg");
}

.tab .tab_contents .links {
  width: 50px;
  height: 126px;
  position: absolute;
  top: 5vh;
  right: 0;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tab .tab_contents .links .link {
  width: 40px;
  height: 40px;
  background-color: #D8D584;
  border-radius: 5px 0 0 5px;
  font-size: 24px;
  text-align: center;
  line-height: 40px;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.tab .tab_contents .links .link:hover {
  width: 45px;
  -webkit-box-shadow: -5px 0px 15px 1px rgba(95, 94, 94, 0.5);
          box-shadow: -5px 0px 15px 1px rgba(95, 94, 94, 0.5);
}

.tab .tab_contents .links .link_fb:hover {
  background-color: #4267b2;
}

.tab .tab_contents .links .link_yt:hover {
  background-color: #8E1615;
}

.tab .tab_contents .links .link_mail:hover {
  background-color: #F9AC17;
}

.backtoTop {
  width: 50px;
  height: 50px;
  background-color: #94902f;
  border-radius: 50%;
  color: aliceblue;
  font-size: 20px;
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 10;
  line-height: 50px;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.backtoTop:hover {
  background-color: #494949;
  width: 55px;
  height: 55px;
  line-height: 55px;
}

.displayNone {
  display: none;
}
/*# sourceMappingURL=index.css.map */