* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Microsoft JhengHei';
}

ul {
  list-style: none;
  -webkit-padding-start: unset;
          padding-inline-start: unset;
}

ul li {
  line-height: 2rem;
}

.container {
  padding-left: 0;
  padding-right: 0;
}

.tab {
  width: 100%;
  margin: auto;
  -webkit-box-shadow: 3px 3px 8px #555555;
          box-shadow: 3px 3px 8px #555555;
}

.tab .tab_btns {
  width: 100%;
}

@media (min-width: 992px) {
  .tab .tab_btns {
    width: 15%;
  }
}

.tab .tab_btns .photo {
  width: 100%;
  height: 15vh;
  background-color: #F0F4FA;
  background-image: url("../img/LIN.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top 20% center;
}

@media (min-width: 992px) {
  .tab .tab_btns .photo {
    background-size: cover;
    background-position: top 20% center;
  }
}

.tab .tab_btns .btn {
  width: 33.3333%;
  height: 15vh;
  background-color: #fff;
  border: 1px solid #eee;
  color: #000;
  border-radius: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  line-height: 15vh;
  position: relative;
}

@media (min-width: 992px) {
  .tab .tab_btns .btn {
    width: 100%;
  }
}

.tab .tab_btns .btn .btn-ch {
  display: none;
}

.tab .tab_btns .btn .btn-en {
  display: none;
}

@media (min-width: 576px) {
  .tab .tab_btns .btn .btn-en {
    display: inline;
  }
}

.tab .tab_btns .btn:hover > .btn-ch, .tab .tab_btns .btn.active > .btn-ch {
  display: inline;
}

.tab .tab_btns .btn:hover > .btn-en, .tab .tab_btns .btn.active > .btn-en {
  display: none;
}

.tab .tab_btns .btn.active {
  background-color: #D8D584;
}

.tab .tab_btns .btn.active:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 0;
  border: 12px solid transparent;
  border-top-color: #D8D584;
  border-bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (min-width: 992px) {
  .tab .tab_btns .btn.active:after {
    content: '';
    left: 100%;
    top: 50%;
    border: 12px solid transparent;
    border-left-color: #D8D584;
    border-right: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    border-top-color: transparent;
  }
}

.tab .tab_btns .btn .btnIcon {
  height: 35%;
}

.tab .tab_btns .btn .btnText {
  height: 65%;
}

.tab .tab_btns .btn .fas {
  font-size: 1.5rem;
}

.tab .tab_btns .hvr-bounce-to-right:before {
  background: #D8D584;
}

.tab .tab_contents {
  width: 100%;
  border: 1px solid #eee;
}

@media (min-width: 992px) {
  .tab .tab_contents {
    width: 85%;
  }
}

.tab .tab_contents .content {
  color: #000;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: none;
}

.tab .tab_contents .content.active {
  display: block;
}

.tab .tab_contents .title {
  font-size: 3vw;
  font-family: 'Raleway', sans-serif;
}

.tab .tab_contents .subtitle {
  margin-top: 3rem;
}

.tab .tab_contents .subtitle .box {
  width: 25px;
  height: 12px;
  background-color: #D8D584;
  margin: auto;
}

.tab .tab_contents .subtitle p {
  font-weight: bold;
  font-size: 20px;
}

.tab .tab_contents .timeline-section {
  position: relative;
}

.tab .tab_contents .timeline-section:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 1px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #ccc;
}

.tab .tab_contents .timeline-section .timeline-pointer {
  position: relative;
}

.tab .tab_contents .timeline-section .timeline-pointer::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #ccc;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #fff;
  z-index: 1;
}

.tab .tab_contents .timeline-section .timeline-pointer:last-child::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #ccc;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #fff;
  z-index: 1;
}

.tab .tab_contents #resume .item {
  font-weight: bold;
}

.tab .tab_contents #resume .itemContent {
  color: #555555;
}

@media (max-width: 576px) {
  .tab .tab_contents #information .timeline-section:after,
  .tab .tab_contents #information .timeline-pointer::before,
  .tab .tab_contents #information .timeline-pointer:last-child::after {
    display: none;
  }
}

.tab .tab_contents #experience .timeline-section2 {
  margin-top: 50px;
  position: relative;
}

.tab .tab_contents #experience .timeline-section2:after {
  content: "";
  position: absolute;
  top: -30px;
  bottom: 0;
  left: 50%;
  width: 1px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #ccc;
}

.tab .tab_contents #experience .timeline-section2 .timeline-pointer {
  position: relative;
}

.tab .tab_contents #experience .timeline-section2 .timeline-pointer::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #ccc;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #fff;
  z-index: 1;
}

.tab .tab_contents #experience .timeline-section2 h4 {
  font-size: 1.1rem;
  font-weight: bold;
  color: #94902f;
}

@media (min-width: 576px) {
  .tab .tab_contents #experience .timeline-section2 h4 {
    font-size: 1.35rem;
  }
}

.tab .tab_contents #experience .period {
  color: #555555;
}

.tab .tab_contents #skill .row p, .tab .tab_contents #skill ul {
  font-size: 0.8rem;
}

@media (min-width: 992px) {
  .tab .tab_contents #skill .row p, .tab .tab_contents #skill ul {
    font-size: 1rem;
  }
}

.tab .tab_contents #skill small {
  color: #94902f;
}

.tab .tab_contents #skill .badges {
  font-size: 1.25rem;
}

.tab .tab_contents #skill .certificate .certificateArea {
  padding-right: 1rem;
}

@media (min-width: 768px) {
  .tab .tab_contents #skill .certificate .certificateArea {
    padding-right: 4rem;
  }
}

.tab .tab_contents #skill .acclaim_badges {
  width: 100%;
  margin: auto;
}

.tab .tab_contents #skill .acclaim_badges > * {
  margin: 5px 6px 0 6px;
}
/*# sourceMappingURL=index.css.map */